.App {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-image: url('assets/background.svg');
    background-position: left center;
    background-size: 750px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1079px) {
    .App {
        flex-direction: column;
        justify-content: center;
        background-position: left top;
    }
}

@media screen and (max-width: 479px) {
    .App {
        padding: 35px 20px;
        background: none;
    }
}
